div.language-switcher-language-url  ul.links li {
  display:inline;
}

/* cor de fundo e créditos */
body {
  background: url('');
  background-color: #fff;
}

.credits {
  display: none;
}

/* bloco logo do modelo ***/

#logodefault {
  margin-bottom: 6px;
  display: table;
  width: 100%;
  table-layout: auto;
  border-spacing: 5px 0;
  line-height: 2.8em;
}

#logodefault .first {
 /* background-color: blue; */
  display: table-cell;
  width: 25%;
}

#logodefault .second {
  display: table-cell;
  vertical-align: top;
  width: 60%;
  font-size: 2.8em;
}

#logodefault .second .slogan{
  font-size: 0.4em;
}

#logodefault .third {
  display: table-cell;
  width: 15%;
}

#logodefault a {
  color: #273e74;
}

.language-icon {
  height: 19.75px;
  width: 28px;
}

@media only screen and (max-width: 600px) {
    #logodefault .second {
      font-size: 1em;
    }

    #logodefault {
      line-height: 1em;
    }
}

/* unvisited link */
a:link .logo {
  color: #273e74;
}

/* visited link */
a:visited .logo{
  color: #273e74;
}

/* mouse over link */
a:hover .logo{
  color: #273e74;
}

/* selected link */
a:active .logo{
  color: #273e74;
}

h1,h2,h3,h4,h5,h6,
h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
  color: #444;
}

h1 a:hover, h1 a:active, h2 a:hover, h2 a:active, h3 a:hover, h3 a:active, h4 a:hover, h4 a:active, h5 a:hover, h5 a:active, h6 a:hover, h6 a:active {
  color: #ab7811;
}

/* aumenta tamanho da caixa de busca ***/
.region-header-right .search-block-form .form-item .form-search {
    width: 200px;
    height: 35px;
}

/* altera cor da fonte do titulo dos blocos */
.block-title {
  color: #fff;
}

/* aumenta tamanho da caixa de busca ***/
.navbar {
  background-color: #273e74;
  color: #fff;
}

/* remove bordas dos blocos ***/
.sidebar .block {
    border: 0;
}

.sidebar .headline {
    background-color: #273e74;
}

/* menu principal azul ***/
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav>li.active>a, .nav>li.active>a:hover, .nav>li.active>a:focus, .nav>li>a.is-active, .nav>li>a:hover, .nav>li>a:focus {
    background-color: #273e74;
    color: #fff;
}

/* remove tracinho separador nos itens de menu */
.navbar-nav>li {
    border-right: 0;
}

/* menu principal dropdown ***/
.dropdown-menu>li>a {
    border-bottom: 1px dotted #003954;
    color: #fff;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color:  #273e74;
}

.navbar-nav .dropdown-menu {
    background-color: #273e74;
    color: #fff;
}

.navbar-nav .dropdown-menu {
    background-color: #273e74;
    color: #fff;
}

.dropdown:hover > a {
    background-color: #273e74;
}

/* Bloco de buscas */
.search-block-form .form-submit {
    background-color: #273e74;
}

/* footer */
.dark-blue-bg {
    background-color: #273e74;
    color: #fff;
}

.dark-blue-bg a {
    color: #DE9C16;
}

.dark-blue-bg a:hover,
.dark-blue-bg a:active {
    color: #ab7811;
}

/* seta para cima na home */
.btn-btt {
    background-color: #273e74;
}

/* fotos no nodes */
img.align-left {
  margin: 10px;
}

.caption > figcaption  {
  background-color: white;
}

/* Novo Layout FFLCH - issue 111 */

/*------------TEMA CABEÇALHO FFLCH -------------------*/


/*--------------------------600px+------------------------*/
@media only screen and (min-width:600px){
    /*HEADER*/
    #header-region.fflch-header-region {
      padding:10px 0 0 0;

    }
    
    
    /*---------HEADERS----------------*/
    
    
    /*CONTAINER DOS HEADERS*/
    .fflch-row {
      display:table;
      width:100%;
      margin:0;

    }
    
    /*HEADER-LEFT*/
    .fflch-header-left{
      display:table-cell;
      float:left;
      width:auto;
      position:relative;
      padding:0;
    }
    
    /*HEADER-CENTER*/
    .fflch-header-center {
      display:none;
    }
    
    /*HEADER RIGHT*/
    .fflch-header-right {
      display:table-cell;
      float:right;
      width:auto;
      position:relative;
      padding:0;
    }
    
    /*----------LOGOS E NOMES-----------*/
    
    /*LOGODEFAULT*/
    .fflch-logodefault{
      display:block;
      position:relative;
      padding-bottom: 30px;
      padding-top: 30px;

    }
    
    /*CONTAINER DE LOGOS E NOMES*/
    .fflch-firstsecondthird {
      display:table;
      table-layout: auto;
      width:100%;
    }
    
    /*ITEM (CELULAS) DE LOGOS E NOMES*/
    .fflch-first, .fflch-second, .fflch-third {
      display:table-cell;
      position:relative;
    }
    
    /*LOGO FFLCH*/
    .fflch-first{
      width: 157px;
      height:51px;
      min-width: 84px;

    }
    
    /*NOME E SLOGAN*/
    .fflch-second{
      padding-left: 10px;
      padding-right: 10px;

    }
    /*LOGO USP*/
    .fflch-third {
      width: 95px; 
      height:51px;
    }
    
    /*CONTAINER DENTRO DE FIRST, SECOND E THIRD*/
    .fflch-item {
      display:block;
      position:absolute;
      bottom:0;
    }
    
    /*CONTEÙDO DO SECOND (SITE E SLOGAN)*/
    /*FONTE*/
    .fflch-second a{
      Font-family: "Arial Narrow", "Arial" , Sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      color: rgb(39, 62, 116);
    }
    
    /*SLOGAN*/
    .fflch-slogan {
      font-size: 13pt;
      line-height:1em;
      padding-left: 2px;
    }
    
    /*NOME DO SITE*/
    .fflch-site-name {
      font-size: 30pt;
      line-height: 1em;
      margin-bottom: -6px;
    }
    
    /*SELETOR DE IDIOMA*/
    #block-seletordeidioma ul{
      float:left;
      padding-inline-start: 0px;
      margin-block-end: auto;
    }
    /*linha 2 global*/
    div.language-switcher-language-url ul.links li {
        display: inline;
        padding-right: 6px;
    }
    
    /*tamanho icone*/
    .language-icon {
        height: 14px;
        width: 18px;
    }
    /*BUSCA*/
    /*tamanho do campo - linha 99 de global*/
    .region-header-right .search-block-form .form-item .form-search {
        width: 100%;
        height: 30px;

    }
  }
  
  /*--------------------------(-)599px------------------------*/
  @media only screen and (max-width:599px){
  
  /*HEADER*/
  #header-region.fflch-header-region {
    padding:10px;
  }
  
  /*---------HEADERS----------------*/
  
  
  /*CONTAINER DOS HEADERS*/
  .fflch-row {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    position:relative;
    margin:0;
  }
  
  /*HEADER-LEFT*/
  .fflch-header-left{
     width: 100%;
      height:auto;
      display: flex;
      justify-content:space-between;
      position:relative;
      padding-left: 0px;
      padding-right:0px;
  }
  
  /*HEADER-CENTER*/
  .fflch-header-center {
    width: 10%;
    min-width: 34px;
    float:right;
  }
  
  /*HEADER RIGHT*/
  .fflch-header-right {
    width: 100%;
    height:auto;
    display: block;
    position:relative;
    float:right;
    padding-right: 0px;
    padding-left:0px;
  }
  
  /*----------LOGOS E NOMES-----------*/
  
  /*LOGODEFAULT*/
  .fflch-logodefault{
    display:block;
    position:relative;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  
  /*CONTAINER DE LOGOS E NOMES*/
  .fflch-firstsecondthird {
    display:table;
    table-layout: auto;
    width:100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  /*ITEM (CELULAS) DE LOGOS E NOMES*/
  .fflch-first, .fflch-second {
    display:table-cell;
    position:relative;
  }
  
  /*LOGO FFLCH*/
  .fflch-first{
    width: 26.7%;
    min-width: 84px;
  }
  
  /*NOME E SLOGAN*/
  .fflch-second{
    padding-left: 6px;
  }
  /*LOGO USP*/
  .fflch-third {
    display:none;
  }
  
  /*CONTAINER DENTRO DE FIRST, SECOND E THIRD*/
  .fflch-item {
    display:block;
    position:relative;
    top:0;

  }
  
  /*CONTEÙDO DO SECOND (SITE E SLOGAN)*/
  /*FONTE*/
  .fflch-second a{
    Font-family: "Arial Narrow", "Arial" , Sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(39, 62, 116);
  }
  
  /*SLOGAN*/
  .fflch-slogan {
    font-size:  calc(8px + (20 - 13) * ((100vw - 300px) / (599 - 300)));
    line-height: 1.2em;
    margin-bottom: calc((-3px) + (-5 - (-3)) * ((100vw - 300px) / (599 - 300)));
  }
  
  /*NOME DO SITE*/
  .fflch-site-name {
    font-size: calc(13px + (40 - 24) * ((100vw - 300px) / (599 - 300)));
    line-height: 1em;
    margin-bottom: calc((-4px) + (-7 - (-4)) * ((100vw - 300px) / (599 - 300)));
  }
  
  
  /*SELETOR DE IDIOMA*/
  #block-seletordeidioma ul{
    padding-inline-start: 0px;
    margin-block-end: auto;
  }
  /*linha 2 global*/
  div.language-switcher-language-url ul.links li {
      display: inline;
      padding-right: 6px;
  }
  
  /*tamanho icone*/
  .language-icon {
      height: 14px;
      width: 18px;
  }
  
  /*BUSCA*/
  /*container de busca*/
  .fflch-header-right > .region-header-right {
    width: 100%;
  }
  /*tamanho do campo - linha 99 de global*/
  .region-header-right .search-block-form .form-item .form-search {
      width: 90%;
      height: 30px;
      
  }

  }